openapi: 3.0.3
info:
  title: DataLinks
  version: 1.0.0
security:
  - bearerAuth: []
  - openId: [implicit]
servers:
  - url: https://api.datalinks.com/api/v1
    description: production server
paths:
  /data:
    get:
      summary: Fetch datasets
      description: Retrieve all available datasets.
      operationId: getDatasets
      tags:
        - datasets
      responses:
        '200':
          $ref: '#/components/responses/ListOfDatasets'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data/{namespace}:
    get:
      summary: Fetch datasets in namespace
      description: Retrieve all datasets for the specified namespace.
      operationId: getDatasetsInNamespace
      tags:
        - datasets
      parameters:
        - $ref: '#/components/parameters/Namespace'
      responses:
        '200':
          $ref: '#/components/responses/ListOfDatasets'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data/{username}/{namespace}/{datasetName}/ingest/attempts:
    get:
      summary: List ingestions for a dataset
      description: Lists ingestion attempts for a dataset.
      operationId: listIngestions
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/BeforeCreatedAt'
        - $ref: '#/components/parameters/PageSize'
      tags:
        - data
      responses:
        '200':
          description: Returns ingestion records for the specified dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIngestionsResponseData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ingest/new/{namespace}/{datasetName}:
    post:
      summary: Create new dataset
      description: Creates a new dataset within a specified namespace.
      operationId: createDataset
      tags:
        - ingest
        - datasets
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
      responses:
        '201':
          description: Creates a new dataset.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ingest/{namespace}/{datasetName}:
    post:
      summary: Ingest data
      description: Load data into the specified dataset.
      operationId: ingestData
      tags:
        - ingest
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestRequest'
            examples:
              movies:
                $ref: '#/components/examples/moviesExample'
              actors:
                $ref: '#/components/examples/actorsExample'
              unstructured:
                $ref: '#/components/examples/unstructuredExample'
      responses:
        '200':
          description: Returns the ingestion result.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /infer/preview:
    post:
      summary: Preview
      description: Process data using ingestion logic without saving it to a dataset.
      operationId: previewInfer
      tags:
        - ingest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestRequest'
            examples:
              movies:
                $ref: '#/components/examples/moviesExample'
              actors:
                $ref: '#/components/examples/actorsExample'
      responses:
        '200':
          description: Returns the processed preview data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestPreviewResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /infer/description:
    post:
      summary: Infer dataset description
      description: Ask an agent to infer a data description based on sampled data.
      operationId: inferDescription
      tags:
        - ingest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferSchemaDescriptionRequest'
      responses:
        '200':
          description: Returns an inferred description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferredDescriptionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /infer/schema:
    post:
      summary: Schema
      description: Ask an agent to infer a schema based on sampled data.
      operationId: inferSchema
      tags:
        - ingest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferSchemaDescriptionRequest'
      responses:
        '200':
          description: Returns the inferred schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferredSchemaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data/{username}/{namespace}/{datasetName}:
    get:
      summary: Get dataset information
      description: Get dataset metadata for the specified user, namespace, and dataset.
      operationId: getDatasetInformation
      tags:
        - dataset
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Returns dataset metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
        '404':
          description: The dataset was not found.
        '400':
          description: Bad request
  /data/{username}/{namespace}/{datasetName}/rename:
    post:
      summary: Rename a dataset
      description: Rename the specified dataset.
      operationId: renameDataset
      tags:
        - dataset
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Renames the specified dataset.
        '400':
          description: Bad request
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The dataset was not found or the user cannot modify it.
  /agents/{username}/{namespace}/{datasetName}/requestCleaning:
    post:
      summary: Request cleaning on a dataset
      description: Request a cleaning job for the specified dataset.
      operationId: requestCleaning
      tags:
        - agents
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCleaningRequest'
      responses:
        '201':
          description: Schedules a new cleaning task.
        '400':
          description: Request body is invalid or malformed JSON.
        '404':
          description: The dataset does not exist or the user cannot modify it.
        '409':
          description: A dataset with the specified name already exists in the target namespace.
        '422':
          $ref: '#/components/responses/UnprocessableContent'
  /data/{username}/{namespace}/{datasetName}/inferDefinition:
    put:
      summary: Update inference definition
      description: Update the saved inference definition for the dataset.
      operationId: updateInferDefinition
      tags:
        - dataset
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiInferenceDefinition'
      responses:
        '201':
          description: Creates a new inference definition.
        '404':
          description: The dataset was not found or the user cannot modify it.
        '400':
          description: Bad request
  /schema/{username}/{namespace}/{datasetName}/sort-order:
    put:
      summary: Update dataset sort order
      description: Update the sort order of columns in a dataset.
      operationId: updateSortOrder
      tags:
        - dataset
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSortOrderRequest'
      responses:
        '200':
          description: Reorders columns.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The dataset was not found or is not accessible.
        '422':
          $ref: '#/components/responses/UnprocessableContent'
  /data/{username}/{namespace}/{datasetName}/clear:
    post:
      summary: Clear all data for a dataset
      description: Remove all data and links from the specified dataset. This action is irreversible.
      operationId: clearDataset
      tags:
        - dataset
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Removes all data and links from the dataset.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The dataset was not found or the user cannot modify it.
  /data/{username}/{namespace}/{datasetName}/balefire:
    delete:
      summary: Delete all data and metadata for a dataset (balefire)
      description: Remove all data, links, and metadata for the specified dataset. This action is irreversible.
      operationId: balefireDataset
      tags:
        - dataset
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Deletes the dataset and all related data.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The dataset was not found or the user cannot modify it.
  /query:
    post:
      summary: Query data
      description: Execute an ontology query.
      operationId: queryData
      tags:
        - query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataRequest'
      responses:
        '200':
          $ref: '#/components/responses/QueryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /query/autorag:
    post:
      summary: Run AutoRAG agent over all data
      description: Uses the AutoRAG agent to answer a question about any data that the user can access.
      operationId: autorag
      tags:
        - autorag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoRagRequest'
      responses:
        '200':
          $ref: '#/components/responses/AutoRagResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /links/{username}/{namespace}/{datasetName}:
    get:
      summary: Load links
      description: Load the links for the specified dataset.
      operationId: getLinks
      tags:
        - links
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Returns the links for the specified dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestLinksResponse'
        '204':
          description: There are no links associated with the specified dataset.
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: "Rebuild links"
      description: "Recalculate links for a specified dataset."
      operationId: rebuildLinks
      tags:
        - links
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestLinksRequest'
      responses:
        '200':
          description: Returns the recalculated links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestLinksResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden. The user does not have access to the dataset.
  /links/preview/{username}/{namespace}/{datasetName}:
    post:
      summary: "Preview links"
      description: "Shows what recalculating links would look like without saving changes."
      operationId: previewLinks
      tags:
        - links
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestLinksRequest'
      responses:
        '200':
          description: Returns the preview link results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestLinksResponse'
  /ontology/{username}/{namespace}/{datasetName}:
    get:
      summary: Get dataset ontology
      description: Load the ontology for the specified dataset.
      operationId: getConnectedLinks
      tags:
        - ontology
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Returns the dataset ontology.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OntologyResponse'
        '204':
          description: There is no ontology for the specified dataset.
    post:
      summary: Save dataset ontology
      description: Save the ontology for the specified dataset.
      operationId: saveConnections
      tags:
        - ontology
      parameters:
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOntologyRequest'
      responses:
        '200':
          description: Saves the dataset ontology.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /schema/datasets/all:
    get:
      summary: List all datasets
      description: Retrieve all datasets visible to the authenticated user.
      operationId: listAllDatasets
      tags:
        - schema
        - datasets
      responses:
        '200':
          $ref: '#/components/responses/ListOfDatasets'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /schema/{user}/namespaces:
    get:
      summary: List user namespaces
      description: Retrieve namespaces for a specific user. Use 'self' for the current user.
      operationId: listUserNamespaces
      tags:
        - schema
        - namespaces
      parameters:
        - name: user
          in: path
          required: true
          description: Username or 'self' for the current user.
          schema:
            type: string
          example: self
      responses:
        '200':
          $ref: '#/components/responses/ListOfNamespaces'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The user was not found.
  /schema/{user}/{namespace}/datasets:
    get:
      summary: List datasets within namespace
      description: Retrieve datasets within a specific namespace for a user. Use 'self' for the current user.
      operationId: listDatasetsWithinNamespace
      tags:
        - schema
        - datasets
      parameters:
        - name: user
          in: path
          required: true
          description: Username or 'self' for the current user.
          schema:
            type: string
          example: self
        - $ref: '#/components/parameters/Namespace'
      responses:
        '200':
          $ref: '#/components/responses/ListOfDatasets'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: The user or namespace was not found.
  /user/tokens:
    get:
      summary: List user tokens
      description: List all tokens for the authenticated user.
      operationId: listTokens
      tags:
        - user
      responses:
        '200':
          description: Returns the user tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResponse'
  /user/token:
    post:
      summary: Add a new user token
      description: Create a new token for the authenticated user.
      operationId: addToken
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        '200':
          description: Creates a user token and returns it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
  /user/token/{tokenId}:
    delete:
      summary: Delete user token
      description: Delete the specified user token.
      operationId: deleteToken
      tags:
        - user
      parameters:
        - $ref: '#/components/parameters/TokenId'
      responses:
        '200':
          description: Deletes the specified token.
  /links/add:
    post:
      summary: Add a new link
      description: Create a new link between two dataset columns.
      operationId: addLink
      tags:
        - links
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLinkRequest'
            examples:
              exactMatch:
                summary: Exact match between movie datasets
                value:
                  from:
                    username: "johndoe"
                    namespace: "cinematography"
                    dataset: "movies"
                    columnName: "director"
                  to:
                    username: "janedoe"
                    namespace: "entertainment"
                    dataset: "films"
                    columnName: "director_name"
                  matchType: "ExactMatch"
              geoMatch:
                summary: Geographic match between location datasets
                value:
                  from:
                    username: "alice"
                    namespace: "geography"
                    dataset: "cities"
                    columnName: "coordinates"
                  to:
                    username: "bob"
                    namespace: "mapping"
                    dataset: "locations"
                    columnName: "gps_coords"
                  matchType: "GeoMatch"
      responses:
        '200':
          description: Link existed, no creation required.
        '201':
          description: Creates a new link.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The source or target dataset was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /upload/multipart/{username}/{namespace}/{datasetName}/prepare:
    post:
      summary: Prepare multipart upload
      description: Initiate a multipart upload and get presigned URLs for all parts.
      operationId: prepareMultipartUpload
      tags:
        - multipart-upload
      parameters:
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareMultipartRequest'
      responses:
        '200':
          description: Returns multipart upload details, including presigned URLs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareMultipartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Failed to prepare the multipart upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /upload/multipart/{username}/{namespace}/{datasetName}/finish:
    post:
      summary: Finish multipart upload
      description: Finish a multipart upload by providing all part ETags.
      operationId: finishMultipartUpload
      tags:
        - multipart-upload
      parameters:
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishedMultipartRequest'
      responses:
        '200':
          description: Completes the multipart upload.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Failed to complete the multipart upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /upload/multipart/{username}/{namespace}/{datasetName}/abort:
    post:
      summary: Abort multipart upload
      description: Abort a multipart upload and clean up partial data.
      operationId: abortMultipartUpload
      tags:
        - multipart-upload
      parameters:
        - $ref: '#/components/parameters/Username'
        - $ref: '#/components/parameters/Namespace'
        - $ref: '#/components/parameters/DatasetName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbortMultipartRequest'
      responses:
        '200':
          description: Aborts the multipart upload and cleans up partial data.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Failed to abort the multipart upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    DatasetName:
      name: datasetName
      in: path
      required: true
      description: Name of the dataset.
      schema:
        type: string
      examples:
        movies:
          value: "movies"
          summary: "Movies"
        actors:
          value: "actors"
          summary: "Actors"
    Namespace:
      name: namespace
      in: path
      required: true
      description: Namespace for the dataset.
      schema:
        type: string
      example: cinematography
    TokenId:
      name: tokenId
      in: path
      required: true
      description: Token ID
      schema:
        type: string
    Username:
      name: username
      in: path
      required: true
      description: The username associated with the request.
      schema:
        type: string
    BeforeCreatedAt:
      name: beforeCreatedAt
      in: query
      description: Value of the `created_at` field before or equals which to return ingestions.
      schema:
        type: string
        format: date-time
        example: "2024-03-01T14:30:22.000Z"
        default: null
    PageSize:
      name: pageSize
      in: query
      description: Maximum number of results to return.
      schema:
        type: integer
        minimum: 1
        default: 25
        maximum: 100
  schemas:
    DataArray:
      type: array
      description: Array of ontology data objects retrieved from queries.
      items:
        type: object
        additionalProperties: true
    AddLinkRequest:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/ApiStringColumnIdentifier'
          example:
            username: "johndoe"
            namespace: "cinematography"
            dataset: "movies"
            columnName: "director"
        to:
          $ref: '#/components/schemas/ApiStringColumnIdentifier'
          example:
            username: "janedoe"
            namespace: "entertainment"
            dataset: "films"
            columnName: "director_name"
        options:
          description: Flexible options map for match configuration.
          oneOf:
            - $ref: '#/components/schemas/ExactMatchConfig'
            - $ref: '#/components/schemas/GeoMatchConfig'
        matchType:
          type: string
          description: Type of match to create between the columns.
          enum:
            - ExactMatch
            - GeoMatch
          example: "ExactMatch"
      required:
        - from
        - to
        - matchType
    ApiDatasetDescription:
      type: object
      properties:
        name:
          type: string
          description: Name of the dataset.
        namespace:
          type: string
          description: Name of the namespace the dataset belongs to.
        nameWithNamespace:
          type: string
          description: The name concatenated with the namespace.
          deprecated: true
        owner:
          type: string
          description: The username associated with the data.
        user:
          type: string
          description: The username associated with the data.
          deprecated: true
        visibility:
          type: string
          description: Indicates whether the data is public or private.
          enum:
            - Public
            - Private
      required:
        - owner
        - name
        - namespace
        - visibility
    ApiInferenceDefinition:
      type: object
      properties:
        dataDescription:
          type: string
          description: Data description of the dataset.
          maxLength: 10000
          example: "Employee dataset containing demographics and compensation."
        fieldDefinition:
          type: string
          description: Definition of the dataset fields.
          maxLength: 10000
          example: |
            id=unique employee identifier
            name=full employee name
            age=employee age in years
            department=work department
            salary=annual salary in USD
      required:
        - dataDescription
        - fieldDefinition
    ApiDatasetMetadata:
      type: object
      properties:
        columnNames:
          type: array
          items: {type: string}
          description: List of dataset column names.
          example: ["id", "name", "age", "department", "salary"]
        inferDefinition:
          description: Inference definition for dataset.
          allOf:
            - $ref: "#/components/schemas/ApiInferenceDefinition"
          example:
            dataDescription: "Employee dataset containing demographics and compensation."
            fieldDefinition: |
              id=unique employee identifier
              name=full employee name
              age=employee age in years
              department=work department
              salary=annual salary in USD
        rowCount:
          type: integer
          format: int64
          description: Number of rows in dataset.
          example: 1250
      required:
        - rowCount
        - columnNames
    ApiLink:
      type: object
      properties:
        destination:
          type: string
          example: "ri.user.examples.companies.other_addresses"
        hits:
          type: integer
          format: int64
          example: 5
        matchType:
          type: string
          example: "ExactMatch"
        origin:
          type: string
          example: "ri.user.examples.companies.nationalities"
      required:
        - destination
        - origin
        - hits
        - matchType
      example:
        destination: "ri.user.examples.actor.name"
        hits: 6
        matchType: "ExactMatch"
        origin: "ri.user.examples.movies.director"
    ApiNamespace:
      type: object
      properties:
        name:
          type: string
          description: The name of the namespace.
          example: "cinematography"
        owner:
          type: string
          format: uuid
          description: UUID of the namespace owner.
          example: "550e8400-e29b-41d4-a716-446655440000"
      required:
        - name
        - owner
    CreateDatasetRequest:
      type: object
      properties:
        inferDefinition:
          $ref: '#/components/schemas/ApiInferenceDefinition'
        visibility:
          type: string
          enum:
            - Public
            - Private
          example: Private
      required:
        - visibility
    CreateTokenRequest:
      type: object
      properties:
        expires_at:
          type: string
        name:
          type: string
      required:
        - name
    DatasetResponse:
      type: object
      properties:
        dataset:
          $ref: '#/components/schemas/ApiDatasetDescription'
        inferDefinition:
          $ref: '#/components/schemas/ApiInferenceDefinition'
          deprecated: true
          description: "This field is deprecated and will be removed in a future version. Please use `metadata.inferDefinition` instead."
        metadata:
          $ref: '#/components/schemas/ApiDatasetMetadata'
      required:
        - dataset
        - metadata
    ApiStringColumnIdentifier:
      type: object
      properties:
        username:
          type: string
          description: Username of the dataset owner.
          example: "johndoe"
        namespace:
          type: string
          description: Namespace of the dataset.
          example: "cinematography"
        dataset:
          type: string
          description: Name of the dataset.
          example: "movies"
        columnName:
          type: string
          description: Column name in the dataset.
          example: "director"
      required:
        - username
        - namespace
        - dataset
        - columnName
      example:
        - username: "username"
        - namespace: "namespace"
        - dataset: "dataset"
        - columnName: "columnName"
    DatasetsResponse:
      type: array
      items:
        $ref: '#/components/schemas/ApiDatasetDescription'
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          example: "UNAUTHORIZED"
        error_message:
          type: string
          example: ""
        message:
          type: string
          example: "Missing authentication token"
        sub_errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
              - message
              - code
      required:
        - message
        - error_code
    IngestLinksResponse:
      type: array
      items:
        $ref: '#/components/schemas/ApiLink'
    IngestLinksRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataArray'
        link:
          $ref: '#/components/schemas/LinkConfig'
      required:
        - data
      example:
        data:
          - name: "Braveheart"
            year: "1995"
            budget: "72000000"
            director: "Mel Gibson"
          - name: "Argo"
            year: "2012"
            budget: "44500000"
            director: "Ben Affleck"
        link:
          ExactMatch: null
          GeoMatch: null
    IngestRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        infer:
          type: object
          properties:
            steps:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/TableStep'
                  - $ref: '#/components/schemas/RowsStep'
                  - $ref: '#/components/schemas/NormaliseStep'
                  - $ref: '#/components/schemas/ValidateStep'
                  - $ref: '#/components/schemas/ReverseGeoStep'
        link:
          $ref: '#/components/schemas/LinkConfig'
      required:
        - data
    LinkConfig:
      type: object
      properties:
        ExactMatch:
          $ref: '#/components/schemas/ExactMatchConfig'
          nullable: true
        GeoMatch:
          $ref: '#/components/schemas/GeoMatchConfig'
          nullable: true
    IngestPreviewResponse:
      type: array
      items:
        type: object
        additionalProperties: true
        description: |
          Each object represents a processed row with dynamic properties based on the inference steps.
          May include metadata fields prefixed with '__metadata_'.
      example:
        - id: "001"
          __metadata_textToTable: "name -> John Smith, age -> 28, department -> Engineering"
          name: "John Smith"
          age: "28"
          gender: "Male"
          department: "Engineering"
          location: "New York"
        - id: "002"
          __metadata_textToTable: "name -> Sarah Johnson, age -> 32, department -> Marketing"
          name: "Sarah Johnson"
          age: "32"
          gender: "Female"
          department: "Marketing"
          location: "California"
        - id: "003"
          name: "Michael Brown"
          age: "45"
          gender: "Male"
          department: "Finance"
          location: "Texas"
          __metadata_normalize: "Normalized department field from 'Fin Dept' to 'Finance'"
    UpdateSortOrderRequest:
      type: object
      properties:
        order:
          type: array
          items:
            type: string
          description: Ordered list of all column names in the desired sequence.
          example: ["id", "name", "age", "department", "location"]
      required:
        - order
    RequestCleaningRequest:
      type: object
      properties:
        prompts:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
          description: Prompts that describe each cleaning step in the intended order.
          example:
            - "Remove extra spaces from firstName and lastName fields."
            - "Remove empty values from the age field."
        outputNamespace:
          type: string
          description: Target namespace where the cleaned dataset will be created.
          example: "all_about_movies"
        outputDatasetName:
          type: string
          description: Specifies the name of the cleaned dataset. The service creates this dataset when the cleaning job starts, and the name must be unused in the target namespace.
          example: "movies_cleaned"
      required:
        - prompts
        - outputNamespace
        - outputDatasetName
    ModifyOntologyRequest:
      type: object
      properties:
        add:
          type: array
          items:
            $ref: '#/components/schemas/ApiLink'
        remove:
          type: array
          items:
            $ref: '#/components/schemas/ApiLink'
    NormaliseStep:
      type: object
      properties:
        type:
          type: string
          enum: [normalise, normalize]
        mode:
          type: string
          enum: [all-in-one, field-by-field, embeddings]
          description: Normalisation mode.
        targetCols:
          type: object
          additionalProperties:
            type: string
          description: Target columns with their descriptions.
        helperPrompt:
          type: string
          description: Prompt to help the LLM understand the domain.
      required:
        - type
        - mode
        - targetCols
    OntologyResponse:
      type: array
      items:
        $ref: '#/components/schemas/ApiLink'
    OntologyRequest:
      type: string
      example: "OntologyObject(\"objectName\").get()"
      description: For details, see [Querying data](/Querying_data).
    QueryDataRequest:
      type: object
      properties:
        username:
          type: string
        namespace:
          type: string
        dataset:
          type: string
        query:
          type: string
          default: ""
        naturalLanguageQuery:
          type: string
        model:
          type: string
        provider:
          type: string
        explainRequested:
          type: boolean
      required:
        - username
        - namespace
    AutoRagRequest:
      type: object
      properties:
        username:
          type: string
        namespace:
          type: string
        query:
          type: string
          example: "What do llamas drink to cool themselves down?"
        helperPrompt:
          type: string
          example: "You're a prophet of the alpacalypse. Your task is to spit the word!"
        model:
          type: string
        provider:
          type: string
      required:
        - username
        - namespace
        - query
    ReverseGeoStep:
      type: object
      properties:
        type:
          type: string
          enum: [reverseGeo]
        deriveFrom:
          type: string
          description: Name of the location column.
      required:
        - type
        - deriveFrom
    RowsStep:
      type: object
      properties:
        type:
          type: string
          enum: [rows]
        deriveFrom:
          type: string
          description: Name of the column that contains the JSON content.
      required:
        - type
        - deriveFrom
    TableStep:
      type: object
      properties:
        type:
          type: string
          enum: [table]
        deriveFrom:
          type: string
          description: Name of the source column to extract from.
        helperPrompt:
          type: string
          description: Prompt to guide the AI system for higher accuracy during extraction.
          example: "This text contains a table comma separated, but instead of line breaks we are using a ';'."
      required:
        - type
        - deriveFrom
    UserToken:
      type: object
      properties:
        created_at:
          type: string
        expires_at:
          type: string
        id:
          type: string
        last_used_at:
          type: string
        name:
          type: string
        token:
          type: string
          nullable: true
      required:
        - id
        - name
        - created_at
        - expires_at
        - token
    UserTokenResponse:
      type: array
      items:
        $ref: '#/components/schemas/UserToken'
    ValidateStep:
      type: object
      properties:
        type:
          type: string
          enum: [validate]
        mode:
          type: string
          enum: [regex, rows, fields]
          description: Validation mode.
        columns:
          type: array
          items:
            type: string
          description: Columns to validate.
      required:
        - type
        - mode
        - columns
    PrepareMultipartRequest:
      type: object
      properties:
        filename:
          type: string
          description: Name of the file being uploaded.
          example: 'large-data.csv'
        size:
          type: integer
          format: int64
          description: Size of the file in bytes.
          example: 73473457
      required:
        - filename
        - size
    PrepareMultipartResponse:
      type: object
      properties:
        uploadId:
          type: string
          description: Unique identifier for the multipart upload session.
          example: '2~VmxqYXRlRDZWfjJrRWRiZ2FEQXk3dHI4DGhGLygtTmQNXEZPQXFzMVZOZTUgdEdrXCEyNStkQUp3U3Q2RjJqSkV4MFNBOWxJCk0yIHEkfcQ'
        key:
          type: string
          description: Generated S3 object key.
          example: 'uploads/data/20240301-143022-uuid.json'
        partSize:
          type: integer
          format: int64
          description: Size of each part in bytes (8MB).
          example: 8388608
        presignedUrls:
          type: array
          items:
            $ref: "#/components/schemas/PresignedUrlItem"
          description: Array of presigned URLs for multipart upload.
          minItems: 1
          maxItems: 10000
      required:
        - uploadId
        - key
        - partSize
        - presignedUrls
    PresignedUrlItem:
      type: object
      properties:
        url:
          type: string
          description: Presigned URL for uploading this part.
          example: 'https://my-data-bucket.s3.amazonaws.com/uploads/data/20240301-143022-uuid.json?partNumber=1&uploadId=...'
      required:
        - url
    FinishedMultipartRequest:
      type: object
      properties:
        uploadId:
          type: string
          description: Upload ID from the prepare response.
          example: '2~VmxqYXRlRDZWfjJrRWRiZ2FEQXk3dHI4DGhGLygtTmQNXEZPQXFzMVZOZTUgdEdrXCEyNStkQUp3U3Q2RjJqSkV4MFNBOWxJCk0yIHEkfcQ'
        key:
          type: string
          description: S3 object key from the prepare response.
          example: 'uploads/data/20240301-143022-uuid.json'
        parts:
          type: array
          items:
            $ref: "#/components/schemas/FinishedMultipartItem"
          description: Array of completed parts with their ETags.
          minItems: 1
      required:
        - uploadId
        - key
        - parts
    FinishedMultipartItem:
      type: object
      properties:
        partNumber:
          type: integer
          description: Part number (1-based)
          example: 1
        etag:
          type: string
          description: ETag returned by S3 after uploading the part.
          example: 'd41d8cd98f00b204e9800998ecf8427e'
      required:
        - partNumber
        - etag
    AbortMultipartRequest:
      type: object
      properties:
        uploadId:
          type: string
          description: Upload ID to abort.
          example: '2~VmxqYXRlRDZWfjJrRWRiZ2FEQXk3dHI4DGhGLygtTmQNXEZPQXFzMVZOZTUgdEdrXCEyNStkQUp3U3Q2RjJqSkV4MFNBOWxJCk0yIHEkfcQ'
        key:
          type: string
          description: S3 object key to abort.
          example: 'uploads/data/20240301-143022-uuid.json'
      required:
        - uploadId
        - key
    QueryResponseMetadata:
      type: object
      properties:
        count:
          type: integer
          description: Number of results returned.
        executedQuery:
          type: string
          description: The actual query that was executed.
        originalQuery:
          type: string
          description: The original query provided by the user.
        startingDataset:
          type: string
          description: The initial dataset used when evaluating the query. For linked queries, this is the dataset where the query begins.
        finalDataset:
          type: string
          description: The dataset that the query ultimately returns results from. For linked queries, this is the final dataset after following links.
    QueryResponseData:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataArray'
        explainResults:
          $ref: '#/components/schemas/QueryExplainResponse'
        metadata:
          $ref: '#/components/schemas/QueryResponseMetadata'
      required:
        - data
        - metadata
    AutoRagResponseData:
      type: object
      properties:
        response:
          type: string
          description: Final response generated for the user's question.
        steps:
          type: array
          description: List of steps executed during the AutoRAG process.
          items:
            type: object
            properties:
              instruction:
                type: string
                description: The instruction generated and executed for this step.
              query:
                type: string
                description: The query derived from the instruction.
              data:
                $ref: '#/components/schemas/DataArray'
            required:
              - instruction
              - query
              - data
      required:
        - response
        - steps
    ExactMatchConfig:
      type: object
      nullable: true
      properties:
        minDistinct:
          type: number
        minVariation:
          type: number
        bidirectional:
          type: boolean
        targetColumns:
          type: array
          items:
            type: string
        ignorePrivateColumns:
          type: boolean
    GeoMatchConfig:
      type: object
      nullable: true
      properties:
        distance:
          type: number
        distanceUnit:
          type: string
        bidirectional:
          type: boolean
        targetColumns:
          type: array
          items:
            type: string
        ignorePrivateColumns:
          type: boolean
    InferredDescriptionResponse:
      type: object
      description: Wrapper object containing the inferred description.
      properties:
        description:
          type: string
          description: The inferred description text.
      required:
        - description
    InferSchemaDescriptionRequest:
      type: object
      properties:
        sample:
          $ref: '#/components/schemas/DataArray'
        model:
          type: string
          description: The inference model to use.
        provider:
          type: string
          description: Provider offering the model.
        currentValue:
          type: object
          properties:
            description:
              type: string
              description: The current data description.
            schema:
              type: object
              additionalProperties:
                type: string
      required:
        - sample
    InferredSchemaResponse:
      type: object
      description: Wrapper object containing inferred field types.
      properties:
        schema:
          type: object
          additionalProperties:
            type: string
      required:
        - schema
    QueryExplainResponse:
      type: object
      description: Explain results for the query.
      properties:
        id:
          type: string
          description: Id of the step.
        datasetIdToCount:
          type: object
          description: Maps each datasetId to the number of results returned for that dataset.
          additionalProperties:
            type: integer
        start:
          type: string
          format: date-time
          description: Timestamp of the step start.
        durationNs:
          type: integer
          format: int64
          description: Duration of the step in nanoseconds.
        children:
          type: array
          items:
            $ref: '#/components/schemas/QueryExplainResponse'
      required:
        - id
        - datasetIdToCount
        - start
        - durationNs
        - children
    ListIngestionsResponseData:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListIngestionsResponseDataItem'
        metadata:
          $ref: '#/components/schemas/ListIngestionsResponseMetadata'
      required:
        - data
        - metadata
    ListIngestionsResponseMetadata:
      type: object
      properties:
        beforeCreatedAt:
          type: string
          format: date-time
          description: Value of the `created_at` field before or equal to which return ingestions records.
          minimum: 1
        pageSize:
          type: integer
          minimum: 10
          maximum: 100
      required:
        - pageSize
    ListIngestionsResponseDataItem:
      type: object
      description: Wrapper object containing details of the ingestion.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        statusMessage:
          type: string
        processedBytes:
          type: integer
          format: int64
        expectedTotalBytes:
          type: integer
          format: int64
        processedRows:
          type: integer
          format: int64
      required:
        - id
        - datasetName
        - status
        - expectedTotalBytes
        - createdBy
  responses:
    QueryResponse:
      description: Returns query results.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryResponseData'
    AutoRagResponse:
      description: Response containing step-by-step RAG execution results and the final answer.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AutoRagResponseData'
    BadRequest:
      description: Bad request. The request was malformed or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden. The user does not have access to this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ListOfDatasets:
      description: Returns a list of datasets accessible to the user.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DatasetsResponse'
    ListOfNamespaces:
      description: Returns a list of namespaces accessible to the user.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApiNamespace'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized. This error occurs if the authentication token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableContent:
      description: The request could not be processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Use a Bearer token for authentication. Submit the token using the `Authorization`
        header: `Authorization: Bearer <token>`.
    openId:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.datalinks.com/realms/datalinks-realm/protocol/openid-connect/auth
          scopes:
            openid: openid
  examples:
    moviesExample:
      summary: Movies
      value:
        data:
          - name: Braveheart
            year: 1995
            budget: 72000000
            director: Mel Gibson
          - name: Argo
            year: 2012
            budget: 44500000
            director: Ben Affleck
          - name: A Quiet Place
            year: 2018
            budget: 17000000
            director: John Krasinski
          - name: Dances with Wolves
            year: 1990
            budget: 22000000
            director: Kevin Costner
          - name: Unforgiven
            year: 1992
            budget: 14000000
            director: Clint Eastwood
          - name: The Postman
            year: 1997
            budget: 80000000
            director: Kevin Costner
        link:
          ExactMatch: null
    actorsExample:
      summary: Actors
      value:
        data:
          # Braveheart
          - name: Mel Gibson
            age: 68
            nationality: American
          - name: Sophie Marceau
            age: 57
            nationality: French
          # Argo
          - name: Ben Affleck
            age: 52
            nationality: American
          - name: Bryan Cranston
            age: 68
            nationality: American
          # A Quiet Place
          - name: John Krasinski
            age: 45
            nationality: American
          - name: Emily Blunt
            age: 41
            nationality: British
          # Dances with Wolves
          - name: Kevin Costner
            age: 69
            nationality: American
          - name: Mary McDonnell
            age: 72
            nationality: American
          # Unforgiven
          - name: Clint Eastwood
            age: 94
            nationality: American
          - name: Morgan Freeman
            age: 86
            nationality: American
          # The Postman
          - name: Kevin Costner
            age: 69
            nationality: American
          - name: Will Patton
            age: 70
            nationality: American
        link:
          ExactMatch: null
    unstructuredExample:
      summary: Example of extracting rows from unstructured data
      value:
        data:
          - text: "Meryl Streep, known for her incredible acting, has starred in unforgettable films like The Devil Wears Prada and Sophie's Choice. She's won three Oscars over her illustrious career. Anne Hathaway shared the screen with her in The Devil Wears Prada and later shone in Les Misérables, earning her own Oscar.\n\nLeonardo DiCaprio, a household name, is celebrated for roles in Titanic, Inception, and The Revenant. His long-awaited Oscar win came for The Revenant. His Titanic co-star Kate Winslet, who also has an Oscar to her name, delivered powerful performances in The Reader and of course, Titanic.\n\nTom Hanks, the quintessential leading man, gave us unforgettable performances in Forrest Gump, Cast Away, and Saving Private Ryan. He's a two-time Oscar winner. Robin Wright, who starred alongside him in Forrest Gump, is also well-remembered for her role in The Princess Bride.\n\nCate Blanchett, a two-time Oscar winner, mesmerized audiences in films like Blue Jasmine, Carol, and Elizabeth. Rooney Mara, her co-star in Carol, also made a mark with her performance in The Girl with the Dragon Tattoo.\n\nDenzel Washington, one of the most respected actors in Hollywood, has won two Oscars for his work in Training Day and Glory. He also delivered a heartfelt performance in Fences, where he starred alongside Viola Davis. Davis herself is a powerhouse of talent, with an Oscar for her role in Fences and another standout performance in The Help."
        infer:
          steps:
            - deriveFrom: text
              helperPrompt: "If you find a numeric field use only the value and omit the rest."
              type: table
