openapi: 3.0.3
info:
  title: DataLinks
  version: 1.0.0
servers:
  - url: https://api.datalinks.com/api/v1
    description: production server
security:
  - bearerAuth: []
  - openId:
      - implicit
paths:
  /a2a:
    get:
      tags:
        - a2a
      summary: List the agents exposed over A2A
      description: "Convenience listing of the available A2A agents and their AgentCard URLs. Public, no authentication."
      operationId: listA2aAgents
      responses:
        "200":
          description: The available A2A agents.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
      security: []
  /a2a/{agentName}/.well-known/agent-card.json:
    get:
      tags:
        - a2a
      summary: Fetch an agent's AgentCard
      description: |
        Returns the A2A AgentCard describing the agent's skills, capabilities, security schemes and JSON-RPC
        endpoint. Public (unauthenticated) discovery document.
      operationId: getA2aAgentCard
      parameters:
        - name: agentName
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The A2A AgentCard (see https://a2a-protocol.org for the schema).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
      security: []
  /a2a/{agentName}:
    post:
      tags:
        - a2a
      summary: A2A JSON-RPC endpoint for an agent
      description: |
        JSON-RPC 2.0 endpoint implementing the A2A methods `SendMessage`, `SendStreamingMessage`, `GetTask`,
        `CancelTask` and `GetExtendedAgentCard`. `SendStreamingMessage` responds with `text/event-stream`; the others
        with a single JSON-RPC response. `GetExtendedAgentCard` returns the authenticated, richer AgentCard.
        Protocol errors are returned as JSON-RPC error objects with HTTP 200. The target namespace is supplied
        in the message `metadata.namespace`; the acting user is taken from the bearer token.
        Request and response bodies follow the A2A 1.0 spec (https://a2a-protocol.org).
      operationId: a2aJsonRpc
      parameters:
        - name: agentName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        required: true
      responses:
        "200":
          description: "A JSON-RPC response, or (for SendStreamingMessage) an SSE stream of JSON-RPC responses."
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /agents/cleaning/{cleaningTaskId}/code:
    get:
      tags:
        - agents
      summary: Get code files for a cleaning task
      description: Retrieve metadata for all code files generated by the cleaning agent for the specified task.
      operationId: getCleaningTaskCode
      parameters:
        - name: cleaningTaskId
          in: path
          description: The unique identifier of the cleaning task.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of code file metadata for the cleaning task.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CleanerAgentCodeFile"
        "404":
          description: The cleaning task does not exist.
  /agents/{username}/{namespace}/{datasetName}/requestCleaning:
    post:
      tags:
        - agents
      summary: Request cleaning on a dataset
      description: Request a cleaning job for the specified dataset.
      operationId: requestCleaning
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestCleaningRequest"
        required: true
      responses:
        "201":
          description: Schedules a new cleaning task.
        "400":
          description: Request body is invalid or malformed JSON.
        "404":
          description: The dataset does not exist or the user cannot modify it.
        "409":
          description: A dataset with the specified name already exists in the target namespace.
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /data:
    get:
      tags:
        - datasets
      summary: Fetch datasets
      description: Retrieve all available datasets.
      operationId: getDatasets
      responses:
        "200":
          $ref: "#/components/responses/ListOfDatasets"
        "401":
          $ref: "#/components/responses/Unauthorized"
      deprecated: true
  /data/{namespace}:
    get:
      tags:
        - datasets
      summary: Fetch datasets in namespace
      description: Retrieve all datasets for the specified namespace.
      operationId: getDatasetsInNamespace
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
      responses:
        "200":
          $ref: "#/components/responses/ListOfDatasets"
        "401":
          $ref: "#/components/responses/Unauthorized"
      deprecated: true
  /data/{username}/{namespace}/{datasetName}/ingest/attempts:
    get:
      tags:
        - data
      summary: List ingestions for a dataset
      description: Lists ingestion attempts for a dataset.
      operationId: listIngestions
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: beforeCreatedAt
          in: query
          description: Value of the `created_at` field before or equals which to return ingestions.
          schema:
            type: string
            format: date-time
            example: 2024-03-01T14:30:22Z
        - name: pageSize
          in: query
          description: Maximum number of results to return.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 25
      responses:
        "200":
          description: Returns ingestion records for the specified dataset.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIngestionsResponseData"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /data/{username}/{namespace}/{datasetName}:
    get:
      tags:
        - dataset
      summary: Get dataset information
      description: "Get dataset metadata for the specified user, namespace, and dataset."
      operationId: getDatasetInformation
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns dataset metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "404":
          description: The dataset was not found.
        "400":
          description: Bad request
  /data/{username}/{namespace}/rename:
    post:
      tags:
        - dataset
      summary: Rename a namespace
      description: Rename the specified namespace.
      operationId: renameNamespace
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Renames the specified namespace.
        "400":
          description: Bad request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: The namespace was not found or the user cannot modify it.
  /data/{username}/{namespace}/{datasetName}/rename:
    post:
      tags:
        - dataset
      summary: Rename a dataset
      description: Rename the specified dataset.
      operationId: renameDataset
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Renames the specified dataset.
        "400":
          description: Bad request
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: The dataset was not found or the user cannot modify it.
  /data/{username}/{namespace}/{datasetName}/inferDefinition:
    put:
      tags:
        - dataset
      summary: Update inference definition
      description: Update the saved inference definition for the dataset.
      operationId: updateInferDefinition
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dataDescription:
                  $ref: "#/components/schemas/DataDescription"
                schemaDefinition:
                  $ref: "#/components/schemas/SchemaDefinition"
        required: true
      responses:
        "201":
          description: Creates a new inference definition.
        "404":
          description: The dataset was not found or the user cannot modify it.
        "400":
          description: Bad request
  /data/{username}/{namespace}/{datasetName}/clear:
    post:
      tags:
        - dataset
      summary: Clear all data for a dataset
      description: Remove all data and links from the specified dataset. This action is irreversible.
      operationId: clearDataset
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Removes all data and links from the dataset.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The dataset was not found or the user cannot modify it.
  /data/{username}/{namespace}/{datasetName}/balefire:
    delete:
      tags:
        - dataset
      summary: Delete all data and metadata for a dataset (balefire)
      description: "Remove all data, links, and metadata for the specified dataset. This action is irreversible."
      operationId: balefireDataset
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deletes the dataset and all related data.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The dataset was not found or the user cannot modify it.
  /infer/preview:
    post:
      tags:
        - ingest
      summary: Preview
      description: Process data using ingestion logic without saving it to a dataset.
      operationId: previewInfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestRequest"
            examples:
              movies:
                $ref: "#/components/examples/moviesExample"
              actors:
                $ref: "#/components/examples/actorsExample"
        required: true
      responses:
        "200":
          description: Returns the processed preview data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestPreviewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /infer/description:
    post:
      tags:
        - ingest
      summary: Infer dataset description
      description: Ask an agent to infer a data description based on sampled data.
      operationId: inferDescription
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InferSchemaDescriptionRequest"
        required: true
      responses:
        "200":
          description: Returns an inferred description.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InferredDescriptionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /infer/schema:
    post:
      tags:
        - ingest
      summary: Schema
      description: Ask an agent to infer a schema based on sampled data.
      operationId: inferSchema
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InferSchemaDescriptionRequest"
        required: true
      responses:
        "200":
          description: Returns the inferred schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InferredSchemaResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /ingest/new/{namespace}/{datasetName}:
    post:
      tags:
        - ingest
        - datasets
      summary: Create new dataset
      description: Creates a new dataset within a specified namespace.
      operationId: createDataset
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDatasetRequest"
        required: true
      responses:
        "201":
          description: Creates a new dataset.
        "401":
          $ref: "#/components/responses/Unauthorized"
  /ingest/{namespace}/{datasetName}:
    post:
      tags:
        - ingest
      summary: Ingest data
      description: Load data into the specified dataset.
      operationId: ingestData
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestRequest"
            examples:
              movies:
                $ref: "#/components/examples/moviesExample"
              actors:
                $ref: "#/components/examples/actorsExample"
              unstructured:
                $ref: "#/components/examples/unstructuredExample"
        required: true
      responses:
        "200":
          description: Returns the ingestion result.
        "401":
          $ref: "#/components/responses/Unauthorized"
  /ingestionTracking/{ingestionId}/retry:
    post:
      tags:
        - ingestionTracking
      summary: Retry ingestion
      description: Creates a new ingestion record copying data from the original and starts the ingestion process in the background. Returns the new ingestion ID.
      operationId: retryIngestion
      parameters:
        - name: ingestionId
          in: path
          description: Ingestion ID
          required: true
          schema:
            type: string
      responses:
        "201":
          description: New ingestion created and started successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedIngestionTrackingResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /ingestionTracking/{ingestionId}/seen:
    post:
      tags:
        - ingestionTracking
      summary: Mark ingestion as seen
      description: Update seenAt timestamp for the specified ingestion.
      operationId: markIngestionSeen
      parameters:
        - name: ingestionId
          in: path
          description: Ingestion ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Ingestion marked as seen successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /links/{username}/{namespace}/{datasetName}:
    get:
      tags:
        - links
      summary: Load links
      description: Load the links for the specified dataset.
      operationId: getLinks
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns the links for the specified dataset.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestLinksResponse"
        "204":
          description: There are no links associated with the specified dataset.
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags:
        - links
      summary: Rebuild links
      description: Recalculate links for a specified dataset.
      operationId: rebuildLinks
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestLinksRequest"
        required: true
      responses:
        "200":
          description: Returns the recalculated links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestLinksResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden. The user does not have access to the dataset.
  /links/preview/{username}/{namespace}/{datasetName}:
    post:
      tags:
        - links
      summary: Preview links
      description: Shows what recalculating links would look like without saving changes.
      operationId: previewLinks
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestLinksRequest"
        required: true
      responses:
        "200":
          description: Returns the preview link results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestLinksResponse"
  /links/add:
    post:
      tags:
        - links
      summary: Add a new link
      description: Create a new link between two dataset columns.
      operationId: addLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddLinkRequest"
            examples:
              exactMatch:
                summary: Exact match between movie datasets
                value:
                  from:
                    username: johndoe
                    namespace: cinematography
                    dataset: movies
                    columnName: director
                  to:
                    username: janedoe
                    namespace: entertainment
                    dataset: films
                    columnName: director_name
                  matchType: ExactMatch
              geoMatch:
                summary: Geographic match between location datasets
                value:
                  from:
                    username: alice
                    namespace: geography
                    dataset: cities
                    columnName: coordinates
                  to:
                    username: bob
                    namespace: mapping
                    dataset: locations
                    columnName: gps_coords
                  matchType: GeoMatch
        required: true
      responses:
        "200":
          description: "Link existed, no creation required."
        "201":
          description: Creates a new link.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The source or target dataset was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /ontology/{username}/{namespace}/{datasetName}:
    get:
      tags:
        - ontology
      summary: Get dataset ontology
      description: Load the ontology for the specified dataset.
      operationId: getConnectedLinks
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns the dataset ontology.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OntologyResponse"
        "204":
          description: There is no ontology for the specified dataset.
    post:
      tags:
        - ontology
      summary: Save dataset ontology
      description: Save the ontology for the specified dataset.
      operationId: saveConnections
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyOntologyRequest"
        required: true
      responses:
        "200":
          description: Saves the dataset ontology.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /ontology/curate-links:
    post:
      tags:
        - ontology
      summary: Curate ontology links
      description: "Run the OntologyCurator agent to analyze computed links for a dataset or all datasets in a namespace. When activate is true, the curated links are added to the ontology. When activate is false (default), only returns the curated links without activating them."
      operationId: curateLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CurateLinkRequest"
            examples:
              curateDataset:
                summary: Curate links for a specific dataset (without activating)
                value:
                  namespace: my_namespace
                  dataset: my_dataset
              curateAndActivate:
                summary: Curate and activate links
                value:
                  namespace: my_namespace
                  dataset: my_dataset
                  activate: true
              curateNamespace:
                summary: Curate links for all datasets in a namespace
                value:
                  namespace: my_namespace
              curateWithModel:
                summary: Curate using a specific LLM model
                value:
                  namespace: my_namespace
                  dataset: my_dataset
                  model: gpt-4
                  provider: openai
        required: true
      responses:
        "200":
          description: Links curated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurateLinkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /schema/datasets/all:
    get:
      tags:
        - schema
        - datasets
      summary: List all datasets
      description: Retrieve all datasets visible to the authenticated user.
      operationId: listAllDatasets
      responses:
        "200":
          $ref: "#/components/responses/ListOfDatasets"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /schema/{user}/namespaces:
    get:
      tags:
        - schema
        - namespaces
      summary: List user namespaces
      description: Retrieve namespaces for a specific user. Use 'self' for the current user.
      operationId: listUserNamespaces
      parameters:
        - name: user
          in: path
          description: Username or 'self' for the current user.
          required: true
          schema:
            type: string
          example: self
      responses:
        "200":
          $ref: "#/components/responses/ListOfNamespaces"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: The user was not found.
  /schema/{user}/{namespace}/datasets:
    get:
      tags:
        - schema
        - datasets
      summary: List datasets within namespace
      description: Retrieve datasets within a specific namespace for a user. Use 'self' for the current user.
      operationId: listDatasetsWithinNamespace
      parameters:
        - name: user
          in: path
          description: Username or 'self' for the current user.
          required: true
          schema:
            type: string
          example: self
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
      responses:
        "200":
          $ref: "#/components/responses/ListOfDatasets"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: The user or namespace was not found.
  /schema/{username}/{namespace}/{datasetName}/sort-order:
    put:
      tags:
        - dataset
      summary: Update dataset sort order
      description: Update the sort order of columns in a dataset.
      operationId: updateSortOrder
      parameters:
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSortOrderRequest"
        required: true
      responses:
        "200":
          description: Reorders columns.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The dataset was not found or is not accessible.
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /permissions/datasets/{username}/{namespace}/{datasetName}/shares:
    get:
      tags:
        - permissions
      summary: List users with access to a dataset
      description: List the per-user grants on a dataset. Only the dataset owner may list.
      operationId: listDatasetShares
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      responses:
        "200":
          $ref: "#/components/responses/ListOfAccessGrants"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The dataset was not found.
    post:
      tags:
        - permissions
      summary: Share a dataset with a user
      description: Grant another user viewer or editor access to a dataset. Only the dataset owner may share.
      operationId: shareDatasetAccess
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareAccessRequest"
        required: true
      responses:
        "200":
          description: Access was granted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The dataset was not found.
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      tags:
        - permissions
      summary: Revoke a user's access to a dataset
      description: Remove a previously granted viewer or editor access from a user. Only the dataset owner may revoke.
      operationId: revokeDatasetAccess
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareAccessRequest"
        required: true
      responses:
        "200":
          description: Access was revoked.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The dataset was not found.
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /permissions/namespaces/{username}/{namespace}/shares:
    get:
      tags:
        - permissions
      summary: List users with access to a namespace
      description: List the per-user grants on a namespace. Only the namespace owner may list.
      operationId: listNamespaceShares
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
      responses:
        "200":
          $ref: "#/components/responses/ListOfAccessGrants"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The namespace was not found.
    post:
      tags:
        - permissions
      summary: Share a namespace with a user
      description: |
        Grant another user viewer or editor access to a namespace. The grant cascades to all datasets within the namespace. Only the namespace owner may share.
      operationId: shareNamespaceAccess
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareAccessRequest"
        required: true
      responses:
        "200":
          description: Access was granted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The namespace was not found.
        "422":
          $ref: "#/components/responses/UnprocessableContent"
    delete:
      tags:
        - permissions
      summary: Revoke a user's access to a namespace
      description: Remove a previously granted viewer or editor access from a user. Only the namespace owner may revoke.
      operationId: revokeNamespaceAccess
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareAccessRequest"
        required: true
      responses:
        "200":
          description: Access was revoked.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: The namespace was not found.
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /query:
    post:
      tags:
        - query
      summary: Query data
      description: Execute an ontology query.
      operationId: queryData
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryDataRequest"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/QueryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /query/autorag:
    post:
      tags:
        - autorag
      summary: Run AutoRAG agent over all data
      description: Uses the AutoRAG agent to answer a question about any data that the user can access.
      operationId: autorag
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRagRequest"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/AutoRagResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /query/ask:
    post:
      tags:
        - autorag
      summary: Run AutoRAG agent with streaming response
      description: |
        Uses the AutoRAG agent to answer a question about any data that the user can access.
        Returns results as a Server-Sent Events (SSE) stream with incremental updates.

        The stream emits the following event types in order:
        - `plan`: The execution plan with a list of steps to be performed.
        - `step`: One event per step, containing the instruction, query, and result data.
        - `answer`: The final synthesized answer to the user's question.
        - `error`: Emitted if an error occurs during processing (instead of answer).
      operationId: autoragStream
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRagRequest"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/AutoRagStreamResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /query/runs/{runId}:
    get:
      tags:
        - agentRuns
      summary: Get the status of an agent run
      description: |
        Returns the current status of an agent run, the original question, and (for completed
        runs) the rendered result. Use this to discover whether a run is still running, completed,
        failed, or expired (e.g. after a dropped SSE connection).
      operationId: getAgentRunStatus
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Run status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags:
        - agentRuns
      summary: Delete an agent run and any resume cache associated with it
      description: |
        Permanently removes the run record and its checkpoint blob. Returns 404 for both
        "never existed" and "owned by someone else" to avoid leaking existence of other
        users' conversations.
      operationId: deleteAgentRun
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /query/runs/{runId}/resume:
    post:
      tags:
        - agentRuns
      summary: Resume a previously paused or crashed agent run
      description: |
        Resumes a run from its last checkpoint. The response is an SSE stream whose first
        event is `run-started`, followed by the same domain events as the original streaming
        endpoint (e.g. `plan`, `step`, `answer` for AutoRag).

        Concurrency: each call rotates the run's session id. If a second resume request
        arrives while a first is in flight, the first wrapper exits silently on its next
        checkpoint write; only the latest resume continues streaming events to its caller.

        Terminal states are surfaced via HTTP status codes:
          - 410 Gone: run is Completed (the final answer is in the body) OR Expired
            (its resume cache is gone or no longer loadable). The body carries the original
            question and, for Completed runs, the rendered result.
          - 422 Unprocessable Content: run is in a Failed state
          - 404 Not Found: run does not exist or is not owned by the caller
      operationId: resumeAgentRun
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: SSE stream of lifecycle and domain events for the resumed run.
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "410":
          description: Run is already completed or its checkpoint expired.
        "422":
          description: Run is in a failed state.
  /query/conversations:
    get:
      tags:
        - conversations
      summary: List the caller's conversations within a namespace
      description: |
        Returns the caller's conversations in the given namespace, most-recently-updated first.
        A conversation groups the agent runs (turns) the user sees as a single thread.
      operationId: listConversations
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
        - name: namespace
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The caller's conversations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /query/conversations/{conversationId}:
    get:
      tags:
        - conversations
      summary: Get a conversation and its turns
      description: |
        Returns the conversation's turns (oldest first), each with the original question, its
        status, and — for completed turns — the rendered result. Returns 404 for both
        "never existed" and "owned by someone else" to avoid leaking existence of other
        users' conversations.
      operationId: getConversation
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The conversation and its turns.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /user/tokens:
    get:
      tags:
        - user
      summary: List user tokens
      description: List all tokens for the authenticated user.
      operationId: listTokens
      responses:
        "200":
          description: Returns the user tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserTokenResponse"
  /user/token:
    post:
      tags:
        - user
      summary: Add a new user token
      description: Create a new token for the authenticated user.
      operationId: addToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
        required: true
      responses:
        "200":
          description: Creates a user token and returns it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserToken"
  /user/token/{tokenId}:
    delete:
      tags:
        - user
      summary: Delete user token
      description: Delete the specified user token.
      operationId: deleteToken
      parameters:
        - name: tokenId
          in: path
          description: Token ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deletes the specified token.
  /user/tokens/{tokenId}/permissions:
    get:
      tags:
        - user
      summary: List token permissions
      description: List all permissions assigned to the specified token.
      operationId: listTokenPermissions
      parameters:
        - name: tokenId
          in: path
          description: Token ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns the permissions assigned to the token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPermissionsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /user/usage/history:
    get:
      tags:
        - user
      summary: Get user usage history
      description: Retrieve historical usage data for the authenticated user.
      operationId: getUserUsageHistory
      parameters:
        - name: onOrAfter
          in: query
          description: Return records on or after this timestamp.
          schema:
            type: string
            format: date-time
            example: 2021-01-01T00:00:00Z
        - name: before
          in: query
          description: Return records before this timestamp.
          schema:
            type: string
            format: date-time
            example: 2021-12-31T23:59:59.999Z
        - name: pageSize
          in: query
          description: Maximum number of results to return.
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 25
        - name: pageCursor
          in: query
          description: Cursor for pagination (JSON object).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUsageHistoryCursor"
      responses:
        "200":
          description: Returns usage history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUsageHistoryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /user/usage/by-day:
    get:
      tags:
        - user
      summary: Get user usage aggregated by day
      description: "Retrieve usage data aggregated by day for the authenticated user, with timezone support."
      operationId: getUserUsageByDay
      parameters:
        - name: onOrAfter
          in: query
          description: Return records on or after this timestamp.
          schema:
            type: string
            format: date-time
            example: 2021-01-01T00:00:00Z
        - name: before
          in: query
          description: Return records before this timestamp.
          schema:
            type: string
            format: date-time
            example: 2021-12-31T23:59:59.999Z
        - name: timeZoneForAggregation
          in: query
          description: "Timezone for date aggregation (e.g., \"America/New_York\", \"Europe/London\"). Defaults to UTC."
          schema:
            type: string
            example: America/New_York
            default: UTC
      responses:
        "200":
          description: Returns usage aggregated by day.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUsageByDayResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /upload/multipart/{username}/{namespace}/{datasetName}/prepare:
    post:
      tags:
        - multipart-upload
      summary: Prepare multipart upload
      description: Initiate a multipart upload and get presigned URLs for all parts.
      operationId: prepareMultipartUpload
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrepareMultipartRequest"
        required: true
      responses:
        "200":
          description: "Returns multipart upload details, including presigned URLs."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrepareMultipartResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Failed to prepare the multipart upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /upload/multipart/{username}/{namespace}/{datasetName}/finish:
    post:
      tags:
        - multipart-upload
      summary: Finish multipart upload
      description: Finish a multipart upload by providing all part ETags.
      operationId: finishMultipartUpload
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinishedMultipartRequest"
        required: true
      responses:
        "201":
          description: Completes the multipart upload and returns the ingestion id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedIngestionTrackingResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Failed to complete the multipart upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /upload/multipart/{username}/{namespace}/{datasetName}/abort:
    post:
      tags:
        - multipart-upload
      summary: Abort multipart upload
      description: Abort a multipart upload and clean up partial data.
      operationId: abortMultipartUpload
      parameters:
        - name: username
          in: path
          description: The username associated with the request.
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: Namespace for the dataset.
          required: true
          schema:
            type: string
          example: cinematography
        - name: datasetName
          in: path
          description: Name of the dataset.
          required: true
          schema:
            type: string
          examples:
            movies:
              summary: Movies
              value: movies
            actors:
              summary: Actors
              value: actors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbortMultipartRequest"
        required: true
      responses:
        "200":
          description: Aborts the multipart upload and cleans up partial data.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Failed to abort the multipart upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /file-upload/prepare:
    post:
      tags:
        - fileUpload
      summary: Prepare session for file upload
      description: Initiate a file upload session and get the upload URLs.
      operationId: prepareFileUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileUploadPrepareSessionRequest"
        required: true
      responses:
        "200":
          description: Returns the file upload session details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadPrepareSessionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /file-upload/{sessionId}/files/{fileId}/finish:
    post:
      tags:
        - fileUpload
      summary: Finish file upload
      description: Finish a single file upload
      operationId: finishFileUpload
      parameters:
        - name: sessionId
          in: path
          description: The unique identifier of the file upload session.
          required: true
          schema:
            $ref: "#/components/schemas/UploadSessionId"
        - name: fileId
          in: path
          description: The unique identifier of the file.
          required: true
          schema:
            $ref: "#/components/schemas/UploadFileId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinishFileUploadRequest"
        required: true
      responses:
        "200":
          description: Returns the session status and finished file status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinishFileUploadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /file-upload/{sessionId}/abort:
    post:
      tags:
        - fileUpload
      summary: Abort file upload
      description: Abort a single file upload
      operationId: abortFileUpload
      parameters:
        - name: sessionId
          in: path
          description: The unique identifier of the file upload session.
          required: true
          schema:
            $ref: "#/components/schemas/UploadSessionId"
      responses:
        "200":
          description: Returns aborted session status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbortFileUploadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableContent"
  /file-upload/{sessionId}/files:
    get:
      tags:
        - fileUpload
      summary: List completed files in an upload session
      description: Returns S3 bucket and key for every completed file in the session. Caller must own the session.
      operationId: listSessionFiles
      parameters:
        - name: sessionId
          in: path
          description: The unique identifier of the file upload session.
          required: true
          schema:
            $ref: "#/components/schemas/UploadSessionId"
      responses:
        "200":
          description: Returns the session status and the list of completed files with their S3 locations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSessionFilesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  schemas:
    DataArray:
      type: array
      description: Array of ontology data objects retrieved from queries.
      items:
        type: object
        additionalProperties: true
    IngestRequest:
      required:
        - data
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        infer:
          $ref: "#/components/schemas/IngestRequestInfer"
        link:
          $ref: "#/components/schemas/IngestLink"
        curate:
          type: boolean
          nullable: true
        dataDescription:
          $ref: "#/components/schemas/DataDescription"
        schemaDefinition:
          $ref: "#/components/schemas/SchemaDefinition"
        additionalInstructions:
          type: string
          description: Additional instructions to guide the AI system during ingestion.
    IngestRequestInfer:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: "#/components/schemas/IngestRequestInferStep"
    IngestRequestInferStep:
      type: object
      discriminator:
        propertyName: type
        mapping:
          table: "#/components/schemas/TableStep"
          rows: "#/components/schemas/RowsStep"
          normalise: "#/components/schemas/NormaliseStep"
          validate: "#/components/schemas/ValidateStep"
          reverseGeo: "#/components/schemas/ReverseGeoStep"
          namedEntities: "#/components/schemas/NamedEntitiesStep"
      anyOf:
        - $ref: "#/components/schemas/TableStep"
        - $ref: "#/components/schemas/RowsStep"
        - $ref: "#/components/schemas/NormaliseStep"
        - $ref: "#/components/schemas/ValidateStep"
        - $ref: "#/components/schemas/ReverseGeoStep"
        - $ref: "#/components/schemas/NamedEntitiesStep"
    TableStep:
      required:
        - deriveFrom
        - type
      type: object
      properties:
        type:
          type: string
          enum:
            - table
        deriveFrom:
          type: string
          description: Name of the source column to extract from.
        additionalInstructions:
          type: string
          description: Additional instructions to guide the AI system for higher accuracy during extraction.
          example: "This text contains a table comma separated, but instead of line breaks we are using a ';'."
        model:
          type: string
          description: The LLM model to use for this step.
        provider:
          type: string
          description: The LLM provider to use for this step.
        replaceOriginalColumn:
          type: boolean
          description: "When true, the source column specified in deriveFrom is removed from the output after extraction."
          default: false
    RowsStep:
      required:
        - deriveFrom
        - type
      type: object
      properties:
        type:
          type: string
          enum:
            - rows
        deriveFrom:
          type: string
          description: Name of the column that contains the JSON content.
    NormaliseStep:
      required:
        - mode
        - type
      type: object
      properties:
        type:
          type: string
          enum:
            - normalise
            - normalize
        mode:
          type: string
          description: Normalisation mode.
          enum:
            - all-in-one
            - field-by-field
            - embeddings
        targetCols:
          type: object
          additionalProperties:
            type: string
          description: Target columns with their descriptions.
        dataDescription:
          $ref: "#/components/schemas/DataDescription"
        model:
          type: string
          description: The LLM model to use for this step.
        provider:
          type: string
          description: The LLM provider to use for this step.
    ValidateStep:
      required:
        - columns
        - mode
        - type
      type: object
      properties:
        type:
          type: string
          enum:
            - validate
        mode:
          type: string
          description: Validation mode.
          enum:
            - regex
            - rows
            - fields
        columns:
          type: array
          description: Columns to validate.
          items:
            type: string
        model:
          type: string
          description: The LLM model to use for this step.
        provider:
          type: string
          description: The LLM provider to use for this step.
    ReverseGeoStep:
      required:
        - type
      type: object
      properties:
        type:
          type: string
          enum:
            - reverseGeo
        deriveFrom:
          type: string
          description: Name of the location column.
    NamedEntitiesStep:
      required:
        - type
      type: object
      properties:
        type:
          type: string
          enum:
            - namedEntities
    ExactMatchConfig:
      type: object
      properties:
        minDistinct:
          type: number
        minVariation:
          type: number
      nullable: true
    GeoMatchConfig:
      type: object
      properties:
        distance:
          type: number
        distanceUnit:
          type: string
      nullable: true
    DataDescription:
      maxLength: 10000
      type: string
      description: A description of the dataset to help the AI system understand the context.
      example: Employee dataset containing demographics and compensation.
    SchemaDefinition:
      type: object
      additionalProperties:
        type: string
      description: "A schema definition mapping field names to descriptions, to guide the AI system in structuring the extracted data."
      example:
        id: unique employee identifier
        name: full employee name
        age: employee age in years
        department: work department
        salary: annual salary in USD
    ApiDatasetDescription:
      required:
        - name
        - namespace
        - owner
        - visibility
      type: object
      properties:
        name:
          type: string
          description: Name of the dataset.
        namespace:
          type: string
          description: Name of the namespace the dataset belongs to.
        nameWithNamespace:
          type: string
          description: The name concatenated with the namespace.
          deprecated: true
        owner:
          type: string
          description: The username associated with the data.
        user:
          type: string
          description: The username associated with the data.
          deprecated: true
        visibility:
          type: string
          description: Indicates whether the data is public or private.
          enum:
            - Public
            - Private
    DatasetsResponse:
      type: array
      items:
        $ref: "#/components/schemas/ApiDatasetDescription"
    ApiLink:
      required:
        - destination
        - hits
        - matchType
        - origin
      type: object
      properties:
        destination:
          type: string
          example: ri.user.examples.companies.other_addresses
        hits:
          type: integer
          format: int64
          example: 5
        matchType:
          type: string
          example: ExactMatch
        origin:
          type: string
          example: ri.user.examples.companies.nationalities
      example:
        destination: ri.user.examples.actor.name
        hits: 6
        matchType: ExactMatch
        origin: ri.user.examples.movies.director
    ErrorResponse:
      required:
        - error_code
        - message
      type: object
      properties:
        error_code:
          type: string
          example: UNAUTHORIZED
        error_message:
          type: string
          example: ""
        message:
          type: string
          example: Missing authentication token
        sub_errors:
          type: array
          items:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: string
              message:
                type: string
    CreatedIngestionTrackingResponse:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          description: Ingestion id created for background ingestion.
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
    CleanerAgentCodeFilesResponse:
      required:
        - files
      type: object
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/CleanerAgentCodeFile"
      description: List of code files used by cleaner agent.
    RequestCleaningResponse:
      required:
        - cleaningTaskId
      type: object
      properties:
        cleaningTaskId:
          type: string
          description: Id for cleaning task.
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
    CleanerAgentCodeFile:
      required:
        - content
        - name
      type: object
      properties:
        name:
          type: string
          description: Filename of the code file.
          example: clean.py
        content:
          type: string
          description: Code file content aka the code.
      description: Code file generated by cleaning agent.
    RequestCleaningRequest:
      required:
        - outputDatasetName
        - outputNamespace
        - prompts
      type: object
      properties:
        prompts:
          maxItems: 10
          minItems: 1
          type: array
          description: Prompts that describe each cleaning step in the intended order.
          example:
            - Remove extra spaces from firstName and lastName fields.
            - Remove empty values from the age field.
          items:
            type: string
        outputNamespace:
          type: string
          description: Target namespace where the cleaned dataset will be created.
          example: all_about_movies
        outputDatasetName:
          type: string
          description: "Specifies the name of the cleaned dataset. The service creates this dataset when the cleaning job starts, and the name must be unused in the target namespace."
          example: movies_cleaned
    ListIngestionsResponseData:
      required:
        - data
        - metadata
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ListIngestionsResponseDataItem"
        metadata:
          $ref: "#/components/schemas/ListIngestionsResponseMetadata"
    ListIngestionsResponseDataItem:
      required:
        - expectedTotalBytes
        - id
        - status
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        statusMessage:
          type: string
        processedBytes:
          type: integer
          format: int64
        expectedTotalBytes:
          type: integer
          format: int64
        processedRows:
          type: integer
          format: int64
        attributes:
          $ref: "#/components/schemas/IngestionItemAttributes"
      description: Wrapper object containing details of the ingestion.
    IngestionItemAttributes:
      type: object
      properties:
        name:
          type: string
          description: Filename or identifier for the ingestion.
          nullable: true
        seenAt:
          type: string
          description: Timestamp when the ingestion was first seen.
          format: date-time
          nullable: true
        originalIngestionId:
          type: string
          description: "In case of retry, it's the original ingestion id."
          format: uuid
        lastRetryAt:
          type: string
          description: Timestamp of the last retry attempt.
          format: date-time
          nullable: true
      description: Additional attributes for the ingestion.
      nullable: true
    ListIngestionsResponseMetadata:
      required:
        - pageSize
      type: object
      properties:
        beforeCreatedAt:
          minimum: 1
          type: string
          description: Value of the `created_at` field before or equal to which return ingestions records.
          format: date-time
        pageSize:
          maximum: 100
          minimum: 10
          type: integer
    DatasetResponse:
      required:
        - dataset
        - metadata
      type: object
      properties:
        dataset:
          $ref: "#/components/schemas/ApiDatasetDescription"
        metadata:
          $ref: "#/components/schemas/ApiDatasetMetadata"
    ApiDatasetMetadata:
      required:
        - columnNames
        - rowCount
      type: object
      properties:
        columnNames:
          type: array
          description: List of dataset column names.
          example:
            - id
            - name
            - age
            - department
            - salary
          items:
            type: string
        dataDescription:
          $ref: "#/components/schemas/DataDescription"
        schemaDefinition:
          $ref: "#/components/schemas/SchemaDefinition"
        rowCount:
          type: integer
          description: Number of rows in dataset.
          format: int64
          example: 1250
    IngestPreviewResponse:
      type: array
      example:
        - id: "001"
          __metadata_textToTable: "name -> John Smith, age -> 28, department -> Engineering"
          name: John Smith
          age: "28"
          gender: Male
          department: Engineering
          location: New York
        - id: "002"
          __metadata_textToTable: "name -> Sarah Johnson, age -> 32, department -> Marketing"
          name: Sarah Johnson
          age: "32"
          gender: Female
          department: Marketing
          location: California
        - id: "003"
          name: Michael Brown
          age: "45"
          gender: Male
          department: Finance
          location: Texas
          __metadata_normalize: Normalized department field from 'Fin Dept' to 'Finance'
      items:
        type: object
        additionalProperties: true
        description: |
          Each object represents a processed row with dynamic properties based on the inference steps.
          May include metadata fields prefixed with '__metadata_'.
    IngestLink:
      type: object
      properties:
        ExactMatch:
          nullable: true
          anyOf:
            - $ref: "#/components/schemas/ExactMatchConfig"
            - $ref: "#/components/schemas/ResolutionParameters"
        GeoMatch:
          nullable: true
          anyOf:
            - $ref: "#/components/schemas/GeoMatchConfig"
            - $ref: "#/components/schemas/ResolutionParameters"
    ResolutionParameters:
      type: object
      properties:
        bidirectional:
          type: boolean
        targetColumns:
          type: array
          items:
            type: string
        ignorePrivateColumns:
          type: boolean
    InferredDescriptionResponse:
      required:
        - description
      type: object
      properties:
        description:
          type: string
          description: The inferred description text.
      description: Wrapper object containing the inferred description.
    InferSchemaDescriptionRequest:
      required:
        - sample
      type: object
      properties:
        sample:
          $ref: "#/components/schemas/DataArray"
        model:
          type: string
          description: The inference model to use.
        provider:
          type: string
          description: Provider offering the model.
        currentValue:
          type: object
          properties:
            description:
              type: string
              description: The current data description.
            schema:
              type: object
              additionalProperties:
                type: string
    InferredSchemaResponse:
      required:
        - schema
      type: object
      properties:
        schema:
          type: object
          additionalProperties:
            type: string
      description: Wrapper object containing inferred field types.
    CreateDatasetRequest:
      required:
        - visibility
      type: object
      properties:
        dataDescription:
          $ref: "#/components/schemas/DataDescription"
        schemaDefinition:
          $ref: "#/components/schemas/SchemaDefinition"
        visibility:
          type: string
          example: Private
          enum:
            - Public
            - Private
    IngestLinksResponse:
      type: array
      items:
        $ref: "#/components/schemas/ApiLink"
    IngestLinksRequest:
      required:
        - data
      type: object
      properties:
        data:
          $ref: "#/components/schemas/DataArray"
        link:
          $ref: "#/components/schemas/IngestLink"
      example:
        data:
          - name: Braveheart
            year: "1995"
            budget: "72000000"
            director: Mel Gibson
          - name: Argo
            year: "2012"
            budget: "44500000"
            director: Ben Affleck
        link:
          ExactMatch: null
          GeoMatch: null
    AddLinkRequest:
      required:
        - from
        - matchType
        - to
      type: object
      properties:
        from:
          $ref: "#/components/schemas/ApiStringColumnIdentifier"
        to:
          $ref: "#/components/schemas/ApiStringColumnIdentifier"
        options:
          description: Flexible options map for match configuration.
          oneOf:
            - $ref: "#/components/schemas/ExactMatchConfig"
            - $ref: "#/components/schemas/GeoMatchConfig"
        matchType:
          type: string
          description: Type of match to create between the columns.
          example: ExactMatch
          enum:
            - ExactMatch
            - GeoMatch
    ApiStringColumnIdentifier:
      required:
        - columnName
        - dataset
        - namespace
        - username
      type: object
      properties:
        username:
          type: string
          description: Username of the dataset owner.
          example: johndoe
        namespace:
          type: string
          description: Namespace of the dataset.
          example: cinematography
        dataset:
          type: string
          description: Name of the dataset.
          example: movies
        columnName:
          type: string
          description: Column name in the dataset.
          example: director
      example:
        - username: username
        - namespace: namespace
        - dataset: dataset
        - columnName: columnName
    OntologyResponse:
      type: array
      items:
        $ref: "#/components/schemas/ApiLink"
    ModifyOntologyRequest:
      type: object
      properties:
        add:
          type: array
          items:
            $ref: "#/components/schemas/ApiLink"
        remove:
          type: array
          items:
            $ref: "#/components/schemas/ApiLink"
    CurateLinkResponse:
      required:
        - datasetsProcessed
        - totalSelected
      type: object
      properties:
        datasetsProcessed:
          type: integer
          description: Number of datasets that were processed.
          example: 5
        totalSelected:
          type: integer
          description: Total number of links selected by the curator agent.
          example: 45
        curatedLinks:
          type: array
          description: The curated links. Only included in the response when activate is false.
          items:
            $ref: "#/components/schemas/ApiLink"
      description: Response containing curation statistics and optionally the curated links when activate is false.
    CurateLinkRequest:
      required:
        - namespace
      type: object
      properties:
        namespace:
          type: string
          description: The namespace containing the dataset(s) to curate.
          example: my_namespace
        dataset:
          type: string
          description: "Optional. If specified, curates links only for this dataset. If omitted, curates all datasets in the namespace."
          example: my_dataset
        model:
          type: string
          description: "Optional. The LLM model to use for curation (e.g., \"gpt-4\", \"claude-3-5-sonnet-20241022\")."
          example: gpt-4
        provider:
          type: string
          description: "Optional. The LLM provider to use (e.g., \"openai\", \"anthropic\")."
          example: openai
        activate:
          type: boolean
          description: "Optional. If true, the curated links will be activated (added to the ontology). If false, only returns the curated links without activating them."
          default: false
      description: Request to curate ontology links for a dataset or namespace using the OntologyCurator agent.
    ApiNamespace:
      required:
        - name
        - owner
      type: object
      properties:
        name:
          type: string
          description: The name of the namespace.
          example: cinematography
        owner:
          type: string
          description: Username of the namespace owner.
          example: datalinks
    UpdateSortOrderRequest:
      required:
        - order
      type: object
      properties:
        order:
          type: array
          description: Ordered list of all column names in the desired sequence.
          example:
            - id
            - name
            - age
            - department
            - location
          items:
            type: string
    ShareAccessRequest:
      required:
        - role
        - username
      type: object
      properties:
        username:
          type: string
          description: Username of the user to grant or revoke access for.
          example: alice
        role:
          type: string
          description: Access level. 'viewer' is read-only; 'editor' is read and write.
          example: viewer
          enum:
            - viewer
            - editor
    AccessGrant:
      required:
        - role
        - username
      type: object
      properties:
        username:
          type: string
          description: Username of the user that has access.
          example: alice
        role:
          type: string
          description: Access level granted to the user.
          example: editor
          enum:
            - viewer
            - editor
    QueryDataRequest:
      required:
        - namespace
        - username
      type: object
      properties:
        username:
          type: string
        namespace:
          type: string
        dataset:
          type: string
        query:
          type: string
          default: ""
        naturalLanguageQuery:
          type: string
        model:
          type: string
        provider:
          type: string
        explainRequested:
          type: boolean
    QueryResponseData:
      required:
        - data
        - metadata
      type: object
      properties:
        data:
          $ref: "#/components/schemas/DataArray"
        explainResults:
          $ref: "#/components/schemas/QueryExplainResponse"
        metadata:
          $ref: "#/components/schemas/QueryResponseMetadata"
        resultType:
          $ref: "#/components/schemas/OperationResult"
    QueryExplainResponse:
      required:
        - children
        - datasetQueriesStat
        - duration
        - id
        - start
      type: object
      properties:
        id:
          type: string
          description: Id of the step.
          example: 930f9d0d-eb0e-4e2f-9b1f-91855efe6b94
        datasetQueriesStat:
          $ref: "#/components/schemas/QueryExplainResponseDatasetQueriesStat"
        start:
          type: string
          description: Timestamp of the step start.
          format: date-time
          example: 2024-03-01T14:30:22Z
        duration:
          type: string
          description: Duration of the step in ISO 8601 format.
          format: duration
          example: PT1M30S
        children:
          type: array
          items:
            $ref: "#/components/schemas/QueryExplainResponse"
      description: Explain results for the query.
    QueryExplainResponseDatasetQueriesStat:
      required:
        - dataset
        - namespace
        - resultCount
        - username
      type: object
      properties:
        username:
          type: string
          description: Username that dataset belong to
        namespace:
          type: string
          description: Namespace dataset belongs to.
        dataset:
          type: string
          description: Name of dataset.
        resultCount:
          type: integer
          description: Number of results returned from the dataset.
          format: int64
      description: Contains how much data was queried from dataset.
    QueryResponseMetadata:
      type: object
      properties:
        count:
          type: integer
          description: Number of results returned.
        executedQuery:
          type: string
          description: The actual query that was executed.
        originalQuery:
          type: string
          description: The original query provided by the user.
        startingDataset:
          type: string
          description: "The initial dataset used when evaluating the query. For linked queries, this is the dataset where the query begins."
        finalDataset:
          type: string
          description: "The dataset that the query ultimately returns results from. For linked queries, this is the final dataset after following links."
    OperationResult:
      type: string
      description: Type for the result of an operation.
    AutoRagRequest:
      required:
        - namespace
        - query
        - username
      type: object
      properties:
        username:
          type: string
        namespace:
          type: string
        query:
          type: string
          example: What do llamas drink to cool themselves down?
        helperPrompt:
          type: string
          example: You're a prophet of the alpacalypse. Your task is to spit the word!
        model:
          type: string
        provider:
          type: string
        conversationId:
          type: string
          description: Existing conversation to continue. Omit to start a new conversation; the id is returned on the run-started SSE event.
    AutoRagResponseData:
      required:
        - response
        - steps
      type: object
      properties:
        response:
          type: string
          description: Final response generated for the user's question.
        steps:
          type: array
          description: List of steps executed during the AutoRAG process.
          items:
            required:
              - data
              - instruction
              - query
              - reasoning
            type: object
            properties:
              instruction:
                type: string
                description: The instruction generated and executed for this step.
              query:
                type: string
                description: The query derived from the instruction.
              reasoning:
                type: string
                description: The reasoning produced by the LLM when generating the query for this step.
              data:
                $ref: "#/components/schemas/DataArray"
    AutoRagStreamEvent:
      oneOf:
        - $ref: "#/components/schemas/AutoRagPlanEvent"
        - $ref: "#/components/schemas/AutoRagStepEvent"
        - $ref: "#/components/schemas/AutoRagAnswerEvent"
        - $ref: "#/components/schemas/AutoRagErrorEvent"
        - $ref: "#/components/schemas/AutoRagPlanningStartedEvent"
        - $ref: "#/components/schemas/AutoRagStepStartedEvent"
        - $ref: "#/components/schemas/AutoRagQueryExecutingEvent"
        - $ref: "#/components/schemas/AutoRagAnswerStartedEvent"
    AutoRagPlanEvent:
      required:
        - reasoning
        - steps
      type: object
      properties:
        steps:
          type: array
          description: List of step descriptions that will be executed.
          items:
            type: string
        reasoning:
          type: string
          description: The reasoning produced by the LLM when generating the plan.
      description: SSE event containing the execution plan. Event name is "plan".
    AutoRagStepEvent:
      required:
        - data
        - index
        - instruction
        - query
        - reasoning
      type: object
      properties:
        index:
          type: integer
          description: Zero-based index of this step in the plan.
        instruction:
          type: string
          description: The instruction generated and executed for this step.
        query:
          type: string
          description: The query derived from the instruction.
        reasoning:
          type: string
          description: The reasoning produced by the LLM when generating the query for this step.
        data:
          $ref: "#/components/schemas/DataArray"
      description: SSE event containing the result of a single execution step. Event name is "step".
    AutoRagAnswerEvent:
      required:
        - response
      type: object
      properties:
        response:
          type: string
          description: The final synthesized answer to the user's question.
      description: SSE event containing the final answer. Event name is "answer".
    AutoRagErrorEvent:
      required:
        - message
      type: object
      properties:
        message:
          type: string
          description: Error message describing what went wrong.
      description: SSE event emitted when an error occurs. Event name is "error".
    AutoRagPlanningStartedEvent:
      type: object
      description: SSE lifecycle event signalling that the agent has started planning. Event name is "planningStarted". The event name carries the meaning; the body is an empty object.
    AutoRagStepStartedEvent:
      required:
        - index
        - instruction
      type: object
      properties:
        index:
          type: integer
          description: Zero-based index of the step that just started.
        instruction:
          type: string
          description: The plan instruction for this step.
      description: SSE lifecycle event signalling that a plan step has started. Event name is "stepStarted".
    AutoRagQueryExecutingEvent:
      required:
        - index
      type: object
      properties:
        index:
          type: integer
          description: Zero-based index of the step whose query is executing.
      description: SSE lifecycle event signalling that the query for a step is now executing against the data. Event name is "queryExecuting".
    AutoRagAnswerStartedEvent:
      type: object
      description: SSE lifecycle event signalling that the agent has started generating the final answer. Event name is "answerStarted". The event name carries the meaning; the body is an empty object.
    AgentRunStatusResponse:
      required:
        - agentKind
        - canResume
        - question
        - runId
        - status
      type: object
      properties:
        runId:
          type: string
          format: uuid
        agentKind:
          type: string
          example: auto_rag
        question:
          type: string
          description: The original prompt that started the conversation.
        status:
          type: string
          enum:
            - running
            - completed
            - failed
            - expired
        canResume:
          type: boolean
          description: True only when the status is `running` AND the checkpoint blob loads cleanly.
        lastNodeId:
          type: string
        errorMessage:
          type: string
        result:
          type: object
          additionalProperties: true
          description: "Rendered AutoRag result for completed runs, in the same shape as `POST /query/autorag`'s response body."
    ConversationListResponse:
      required:
        - conversations
      type: object
      properties:
        conversations:
          type: array
          items:
            $ref: "#/components/schemas/ConversationSummaryResponse"
    ConversationSummaryResponse:
      required:
        - createdAt
        - id
        - title
        - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        createdAt:
          type: integer
          description: Creation time as epoch milliseconds.
          format: int64
        updatedAt:
          type: integer
          description: Last-updated time as epoch milliseconds.
          format: int64
    ConversationDetailResponse:
      required:
        - id
        - title
        - turns
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        turns:
          type: array
          items:
            $ref: "#/components/schemas/ConversationTurnResponse"
    ConversationTurnResponse:
      required:
        - question
        - runId
        - status
      type: object
      properties:
        runId:
          type: string
          format: uuid
        question:
          type: string
        status:
          type: string
          enum:
            - running
            - completed
            - failed
            - expired
        result:
          type: object
[...]
